$HEADER_HEIGHT=64px
.header
  width 100%
  top 0
  background #345a46
  height $HEADER_HEIGHT
  left 0
  display flex
  z-index 10
  align-items center
  justify-content space-between
  box-shadow 1px 2px 3px #666
  .logo
    padding-left 20Px
    display flex
    flex-direction row
    align-items center
    h2
      color #ddd
      padding 0
      margin 0
      margin-left 10Px
      font-size 18Px
      // color #4c4c4c

    img
      width 32Px
      height 32Px
  .u
    .circle
      position absolute
      z-index 101
      top 16px
      right 10px
      width 32px
      height 32px
      background #333
      display flex
      align-items center
      justify-content center
      font-size 24px
      font-family cursive
      border-radius 18px
      margin-right 10Px
      color #ffb7b7
      cursor pointer

    &:hover
      .top-menu
        display block



.top-menu
  display none
  position absolute
  background black
  color yellow
  padding 60px 20px 10px 20px
  right 0px
  top 0px
  z-index 100
  .item
    width 80px
    font-size 16px
    line-height 40px
    height 40px
    text-align right
