.header
  position fixed
  width 100%
  top 0
  background black
  height 44Px
  left 0
  display flex
  z-index 10
  align-items center
  justify-content space-between
  box-shadow 1px 2px 3px #666
  .logo
    padding-left 10Px
    display flex
    flex-direction row
    align-items center
    h2
      color white
      padding 0
      margin 0
      margin-left 10Px
      font-size 18Px
      color #999

    img
      width 32Px
      height 32Px
  .u
    .circle
      width 32px
      height 32px
      background #333
      display flex
      align-items center
      justify-content center
      font-size 24px
      font-family monospace
      border-radius 18px
      margin-right 10Px
      color #ffb7b7

