div
  padding 0
  margin 0

$COLOR_PRIMARY=#66b388
$COLOR_PRIMARY_LIGHT=lighten( hue($COLOR_PRIMARY, 90deg), 40 )
444
*
  box-sizing border-box
#app
  height 100%
.router-wrapper
  height 100%
.page
  padding-top 44px
  height 100%
@import './menu'