.paper
  background-color #F7EED6
  margin 40Px auto
  border-radius 10px
  width 800px
  padding-top 30Px
  h1
    text-align center
    margin 0px 50px
    color #333
    border-bottom 2px solid #666

.question
  padding 20px
  border-bottom 1px solid #ccc
  &:last-child
    border none

.timer
  color #00ddff
  font-size 15px
  margin-left 10Px

.answer
  color #009900
  padding-top 5Px