.paper
  background-color #f2f3f2
  margin 40Px auto
  border-radius 10px
  width 800px
  padding-top 30Px
  h1
    text-align center
    margin 0px 50px
    color #333
    border-bottom 2px solid #ddd

.question
  padding 20px
  border-bottom 1px solid #ccc
  &:last-child
    border none

.timer
  display block
  color #aaa
  font-size 16px
  margin-left 10Px

.answer
  color #009900
  padding-top 5Px

@import './rank.styl'