.float-menu
  padding 20Px
  background-color #eee
  position fixed
  top 80px
  left 10px
  .item
    height 30px
    line-height 30px
    border-top 1px solid #ddd
    &:first-child
      border none