@import '../../common/theme'
*
*::before
*::after 
  box-sizing: border-box;
body
  margin 0
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 14px
  font-variant: tabular-nums
  line-height: 1.5
  color: rgba(0, 0, 0, 0.65)
  background-color: #fff
div
  padding 0
  margin 0

h1, h2, h3, h4, h5, h6 
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;

img
  vertical-align: middle
  border-style: none
html
body
  height 100%
$HEADER_HEIGHT=64px
@import './exam.styl'
@import './float-menu'
@import './explains'

.f-success
  color #12ff33
.f-error
  color red

#app
.router-wrapper
  height 100%
.CodeMirror
  font-family monospace
  font-size 16px

.full
  width 100%
  height 100%

.flex-center
  display flex
  align-items center
  justify-content center
.flex-column
  flex-direction column

a {
  color: $COLOR_PRIMARY;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}