div
  padding 0
  margin 0

$HEADER_HEIGHT=64px
@import './exam.styl'
@import './login.styl'

.f-success
  color #12ff33
.f-error
  color red

#app
.router-wrapper
  height 100%
.CodeMirror
  font-family monospace
  font-size 16px

.full
  width 100%
  height 100%

.flex-center
  display flex
  align-items center
  justify-content center
.flex-column
  flex-direction column
