.student-list
  display flex
  flex-wrap wrap
  flex-direction row
  padding 20Px
.student
  margin-left 20px
  margin-top 20px
  display flex
  align-items center
  flex-direction column
  width 64px
  .avatar
    display flex
    align-items center
    justify-content center
    border-radius 32px
    width 64px
    height 64px
    background-color #3df
    color white
  img
    border-radius 32px
    width 64px
    height 64px
