table
  width 100%
  border-collapse collapse
  font-size 12px
  tr:nth-child(odd)
    background #c8fff4
  td
    padding 5px 2px
    border-bottom 1px solid #f2f2f2
    vertical-align middle
  thead
    tr
      background white !important
    td
      font-size 12px
      font-weight bold

.subtitle
  padding 0
  margin 0
  color #666
  border-bottom 1px solid green

h1
  margin-bottom 0

img
  width 24px
  height 24px
  border-radius 12px
  vertical-align middle

.block-title
  word-break break-all
  font-size 14px
  color #999
  .active
    color #4b715c

.search
  display flex
  button
    word-break keep-all
    border 1px solid #4b715c
    background-color white
    outline none
    &:active
      background #eee
  input
    outline none
    border 1px solid #f2f2f2
    width 100%
    height 30px
    line-height 30px
    padding-left 10px





